<%= content_for :opengraph_tags do %>
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://emojis.jesper.dev/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Rails AI Emoji Generator">
  <meta property="og:description" content="Generate emojis from words with just one click">
  <meta property="og:image" content="<%= image_url("opengraph.png") %>">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="emojis.jesper.dev">
  <meta property="twitter:url" content="https://emojis.jesper.dev/">
  <meta name="twitter:title" content="Rails AI Emoji Generator">
  <meta name="twitter:description" content="Generate emojis from words with just one click">
  <meta name="twitter:image" content="<%= image_url("opengraph.png") %>">
<% end %>

<div class="w-full my-2 sm:my-8">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="py-[4vh] sm:py-[10vh]">
    <div class="text-center space-y-4">
      <h1 class="font-extrabold text-4xl text-gray-800">Rails ✨AI✨ Emoji Generator</h1>

      <p class="text-gray-500 prose">
        This is a Rails Emoji Generator inspired by <%= link_to "Alexandru's example", "https://emojis.alexandru.so/" %>.
        We use the <%= link_to "fofr/sdxl-emoji", "https://replicate.com/fofr/sdxl-emoji" %> model on <%= link_to "replicate.com", "https://replicate.com" %> to generate the emoji based on the word you input. Code can be found no <%= link_to "GitHub", "https://github.com/jespr/rails-emoji-generator" %>.
      </p>
    </div>

    <%= render "form", emoji: @emoji %>

  </div>

  <h2 class="font-bold mb-4 text-slate-600"><%= EmojisController::EMOJI_LIMIT %> Recently created emojis</h2>
  <%= turbo_stream_from :emojis %>

  <%= render "emojis", emojis: @completed_emojis %>
</div>
