<div class="w-full my-2 sm:my-8">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="py-[4vh] sm:py-[10vh]">
    <div class="text-center space-y-4">
      <h1 class="font-bold text-4xl">Rails Emojis</h1>

      <p class="text-gray-500">
        This is a Rails Emoji Generator inspired by <%= link_to "Alexandru's example", "https://emojis.alexandru.so/", class: "text-pink-400 hover:underline" %>.
      </p>
    </div>

    <%= render "form", emoji: @emoji %>

  </div>

  <h2 class="font-bold mb-4 text-slate-600">Recently created emojis</h2>
  <%= turbo_stream_from :emoji %>
  <%= turbo_stream_from :emojis %>

  <%= render "emojis", emojis: @completed_emojis %>
</div>
