<!DOCTYPE html>
<html>
  <head>
    <title>Rails AI Emoji Generator</title>
    <meta name="description" content="Generate emojis from words with just one click">

    <%= yield :opengraph_tags %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= favicon_link_tag "favicon.png" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-100">
    <main class="container max-w-xl mx-auto mt-8 sm:mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>
